# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Local .terragrunt-cache directories
.terragrunt-cache/

# Terragrunt files copied by hooks
tardigrade/aws/**/tenant.tf

# Jekyll files
_site/
.jekyll-cache/
.sass-cache/
Gemfile.lock

#rbenv files
.ruby-version

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# Add local variables file
!tenant-local.auto.tfvars
