# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Local .terragrunt-cache directories
.terragrunt-cache/

# Jekyll files
_site/
.jekyll-cache/
.sass-cache/
Gemfile.lock

#rbenv files
.ruby-version

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

#macOS local dir meta file
.DS_Store
